.wrapper {
    font-weight: bold;
    text-align: center;
    min-width: 50%;
}

.wrapper > * {
    padding: 10px;

    // flex: 1 100%;
}
.input-range {
    display: flex;
    justify-content: center;
}

.range-list {
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.list-actions {
    display: flex;
    margin-bottom: 20px;
    li {
        font-size: 18px;
        align-self: center;
        font-weight: normal;
        color: grey;
    }
}

@media all and (max-width: 640px) {
    #remove-interval {
        margin-left: 3em;
    }
}
