@import './variable.scss';
body {
    padding: 4em;
}

.input-field {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid grey;
    min-width: 200px;
}

.add-time-value {
    background-color: $primary-btn-colour;
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.remove-time-value {
    margin-left: 30px;
    border: 1px solid $primary-btn-colour;
    background-color: $white;
    padding: 10px 20px;
    border-radius: 8px;
    color: $primary-btn-colour;
    cursor: pointer;
}
